# Dependencies
node_modules/

# Nuxt
.nuxt/
.output/
dist/

# Build
*.local

# Environment
.env
.env.*
!.env.example

# Database
data/*.db
data/*.db-shm
data/*.db-wal

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Misc
*.bak
